{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  &rsaquo; 
  <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; 
  <a href="{% url opts|admin_urlname:'changelist' %}">
    {% if module_name|upper == "DEVICES"  %}
              {% blocktrans %}
                  AP
              {% endblocktrans %}
          {% elif module_name|upper == "TEMPLATES"%}
              {% blocktrans %}
                  Setting Types
              {% endblocktrans %}
          {% elif module_name|upper == "DEVICE GROUPS"%}
              {% blocktrans %}
                  AP Groups
              {% endblocktrans %}
          {% else %}
              {% blocktrans %}
                  {{ module_name }}
              {% endblocktrans %}
    {% endif %}
  </a>
  &rsaquo; 
  <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
  &rsaquo; 
  {% translate 'History' %}
  </div>
{% endblock breadcrumbs %}
